<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name = "GiveIndia testing">
 	<parameter name="browser" value="Chrome"/> 
 	<parameter name="url" value="https://en.wikipedia.org/wiki/Selenium"/> 
 		
   <classes>
        <class name="GiveIndia.GetUrl"/> 
        <class name="GiveIndia.Pagevalidation"/> 
        <class name="GiveIndia.pdflinks"/> 
    </classes>
  </test>
 
</suite> <!-- Suite -->


